// import components scss files

@use "../components/variables" as *;
@use "../components/breakpoints" as *;
@use "../components/mixins" as *;
@use "../components/buttons" as *;

/* start office section */

.office {
  padding-top: $sectionPadding;
  padding-bottom: $sectionPadding;
  position: relative;
  .office-content {
    padding: 5px 25px;
    h4 {
      color: var(--red-color);
      font-weight: 700;
    }
    h2 {
      padding-right: 75px;
      @include media-breakpoint-down(md) {
        padding-right: 5px;
      }
    }
    p {
      line-height: 2;
    }
  }
  .shape {
    right: 0;
    top: -40%;
  }
}

/* end office section */
