// import components scss files

@use "../components/variables" as *;
@use "../components/breakpoints" as *;
@use "../components/mixins" as *;

/* ============================================
               start work section
   ============================================ */

.work {
  padding-top: $sectionPadding;
  padding-bottom: $sectionPadding;
  position: relative;
  figure {
    margin-bottom: var(--mb-32);
  }
  .shape {
    top: 77px;
    left: -500px;
  }
}
