// scss-docs-start grid-breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
) !default;
// scss-docs-end grid-breakpoints

/* ==========
     Globals 
   ==========*/

$mainTransition: 0.5s ease-in-out;
$secondTransition: 0.2s ease-in-out;
$sectionPadding: 100px;
$contentMargin: 100px;

// responsive typography
:root {
  --biggest-font-size: 24px;
  --h2-font-size: 20px;
  --h3-font-size: 18px;
  --normal-font-size: 15px;
  --small-font-size: 12px;
  --smaller-font-size: 14px;

  @media (min-width: 991px) {
    --biggest-font-size: 36px;
    --h2-font-size: 28px;
    --h3-font-size: 20px;
    --normal-font-size: 18px;
    --small-font-size: 16px;
    --smaller-font-size: 14px;
  }

  --mb-8: 8px;
  --mb-12: 12px;
  --mb-16: 16px;
  --mb-24: 24px;
  --mb-32: 32px;
  --mb-64: 64px;
  --mb-100: 100px;
  // colors
  --red-color: #ff3946;
  --white-color: #fff;
  --yellow-color: #ffc400;
  --main-text-color: #314584;
  --dark-text-color: #6e757a;
  --shape-color: #f4fafe;
  --lighter-color: #c5d0d5;
  --idenity-color-3: #06a2a2;
  --idenity-color-2: #00c6bf;
  --idenity-color-1: #33d1cc;
  --second-background-color: #eff7fa;

  --btn-box-shadow: 3px 3px 2px rgba(255, 240, 241);
}
